<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p class="wow fadeInUp"  data-wow-delay="0.1s">LIKELION at DONGGUK Univ 2021</p>
				<p class="wow fadeInUp"  data-wow-delay="0.1s">카카오채널 @멋사동대</p>
				<p class="wow fadeInUp"  data-wow-delay="0.1s">© 2021. DGULION all rights reserved.</p>
				<ul class="social-icon wow fadeInUp"  data-wow-delay="0.3s">
					<li><a href="https://www.facebook.com/DGUlion/" class="fa fa-facebook" target="_blank"></a></li>
					<li><a href="https://www.instagram.com/likelion_dongguk/?hl=ko" class="fa fa-instagram" target="_blank"></a></li>
					<li><a href="https://pf.kakao.com/_jxbIxfd" class="fa fa-comment" target="_blank"></a></li>
					<li><a href="http://www.dgulion.com/" class="fa fa-chrome" target="_blank"></a></li>
				</ul>
			</div>			
		</div>
	</div>
</footer>