<div class="nav-container">
  <nav class="nav-inner transparent">
    <div class="navbar">
      <div class="container">
        <div class="row">
          <div class="brand">
            <a href="{% url 'main:index' %}">
              <img src="/static/images/simba.jpg">
            </a>
          </div>

          <div class="navicon">
            <div class="menu-container">
              <div class="circle dark inline">
                <i class="icon ion-navicon"></i>
              </div>

              <div class="list-menu">
                <i class="icon ion-close-round close-iframe"></i>
                <div class="intro-inner">
                  <ul id="nav-menu">
                    <li><a href="{% url 'main:index' %}">Home</a></li>
                    <li><a href="{% url 'ideathon:main' %}">Ideathon</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'users:mypage' %}">Mypage</a></li>
                      <li><a href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                      <li><a href="{% url 'account_login' %}">Login</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
