{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <div class="new-header">
    <h1>최종 결과물 수정</h1>
  </div>
</section>

<form
  action="{% url 'hackerthon:update' post.id %}"
  method="POST"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div class="container">
    <div class="col-12">
      <label>카테고리</label>
      <div>
        <select
          name="category"
          id="category"
          class="form-control col-md-2 mb-2 new-content"
          style="color: black"
        >
        {% if post.category == 'hi-sw' %}
        <option value="hi-sw" selected>HI-SW 봉사단 관련 서비스</option>
        <option value="club">중앙 동아리 관련 서비스</option>
        {% else %}
        <option value="hi-sw">HI-SW 봉사단 관련 서비스</option>
        <option value="club" selected>중앙 동아리 관련 서비스</option>
        {% endif %}
      </select>
      </div>
    </div>
    <div class="col-12 new-content">
      <label>팀명</label>
      <div>
        <select
          name="team"
          id="team"
          class="form-control col-md-2 mb-2 new-content"
          style="color: black"
        >
        {% if post.team == '1팀' %}
          <option value="1팀" selected>1팀</option>
          <option value="2팀">2팀</option>
          <option value="3팀">3팀</option>
          <option value="4팀">4팀</option>
          <option value="5팀">5팀</option>
          <option value="6팀">6팀</option>
        {% elif post.team == '2팀' %}
          <option value="1팀">1팀</option>
          <option value="2팀" selected>2팀</option>
          <option value="3팀">3팀</option>
          <option value="4팀">4팀</option>
          <option value="5팀">5팀</option>
          <option value="6팀">6팀</option>
        {% elif post.team == '3팀' %}
          <option value="1팀" selected>1팀</option>
          <option value="2팀">2팀</option>
          <option value="3팀" selected>3팀</option>
          <option value="4팀">4팀</option>
          <option value="5팀">5팀</option>
          <option value="6팀">6팀</option>
        {% elif post.team == '4팀' %}
          <option value="1팀">1팀</option>
          <option value="2팀">2팀</option>
          <option value="3팀">3팀</option>
          <option value="4팀" selected>4팀</option>
          <option value="5팀">5팀</option>
          <option value="6팀">6팀</option>
        {% elif post.team == '5팀' %}
          <option value="1팀">1팀</option>
          <option value="2팀">2팀</option>
          <option value="3팀">3팀</option>
          <option value="4팀">4팀</option>
          <option value="5팀" selected>5팀</option>
          <option value="6팀">6팀</option>
        {% elif post.team == '6팀' %}
          <option value="1팀">1팀</option>
          <option value="2팀">2팀</option>
          <option value="3팀">3팀</option>
          <option value="4팀">4팀</option>
          <option value="5팀">5팀</option>
          <option value="6팀" selected>6팀</option>
        {% endif %}
        </select>
      </div>
    </div>
    <div class="col-12 new-content">
      <label>제목</label>
      <input
        type="text"
        class="form-control mb-30"
        name="title"
        placeholder="제목 입력(공백 포함 최대 30자)"
        id="title_id"
        maxlength="30"
        required
        style="color: black"
        value="{{post.title}}"
      />
    </div>
    <div class="col-12 new-content">
      <label>github</label>
      <input
        type="text"
        class="form-control mb-30"
        name="github"
        placeholder="github repository url"
        id="title_id"
        required
        style="color: black"
        value="{{post.github}}"
      />
    </div>
    <div class="col-12 new-content">
      <label>시연 영상</label>
      <input
        type="text"
        class="form-control mb-30"
        name="demo"
        placeholder="시연 영상 youtube url"
        id="title_id"
        required
        style="color: black"
        value="{{post.demo}}"
      />
    </div>
    <div class="col-12 new-content">
      <label>서비스 소개 자료</label>
      <input type="file" id="input-mediafile" name="introduction" onchange="fileCheck(this)">
      {% if post.introduction %}
      <p>기존 파일: {{post.file_name}}</p><!-- 업로드파일명 -->
      {% endif %}
    </div>
    <div class="col-12 new-content">
      <label>내용</label>
      <textarea
      class="form-control mb-30"
      name="content"
      placeholder="내용 입력"
      style="color: black"
      >{{post.content}}</textarea>
    </div>
    <div class="col-12 new-content upload">
      <button type="submit" class="upload-btn">Update</button>
    </div>
  </div>
</form>

{% endblock %}