{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="portfolio">
  <div class="container">
    <h1>Mypage</h1>
    <div class="row">
      <div class="col-md-12 col-sm-12">
          <div class="iso-box-section wow fadeInUp" data-wow-delay="1s">
            <div class="iso-box-wrapper col4-iso-box">
              {% for post in posts %}
              <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.3s">
                <div class="blog-thumb">
                  <img
                      src="{% static 'images/simbathon.jpg' %}"
                      class="img-responsive"
                      alt="Blog"/>
                  <h2 style="word-break: break-all; color:black;">{{post.title}}</h2>
                  <div class="btn-detail">
                    <a
                      href="{% url 'ideathon:detail' post.id %}"
                      class="upload-btn">Details</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}