{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="portfolio">
  <div class="container">
    <h1>Mypage</h1>
    <div class="row">
      <div class="col-md-12 col-sm-12">
          <div class="iso-box-section wow fadeInUp" data-wow-delay="1s">
            <div class="iso-box-wrapper col4-iso-box">
              {% for post in posts %}
              <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.9s">
                <div class="blog-thumb">
                  <a href="{% url 'ideathon:detail' post.id %}"><h1>{{ post.title }}</h1></a>
                  <div class="post-format">
                    <span><i class="fa fa-date"></i> {{ post.created_at }}</span>
                  </div>
                  <a href="{% url 'ideathon:detail' post.id %}" class="btn btn-default">Details</a >
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}