{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="portfolio">
  <div class="container">
    <h1>Mypage</h1>
    <div class="row">
      <div class="col-md-12 col-sm-12">
          <div class="iso-box-section wow fadeInUp" data-wow-delay="1s">
            <div class="iso-box-wrapper col4-iso-box">
              <div class="iso-box photoshop branding col-md-4 col-sm-6">
                <div class="portfolio-thumb">
                  <img
                    src="{% static 'images/portfolio-img1.jpg' %}"
                    class="img-responsive"
                    alt="Portfolio"
                  />
                  <div class="portfolio-overlay">
                    <div class="portfolio-item">
                      <a href="{% url 'main:single_project' %}"><i class="fa fa-link"></i></a>
                      <h2>Project One</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
