{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Header section
================================================== -->
<section id="header" class="header-five">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
        <div class="header-thumb">
          <h1 class="wow fadeIn" data-wow-delay="0.6s">Ideathon Page</h1>
          <h3 class="wow fadeInUp" data-wow-delay="0.9s">
            자유롭게 아이디어를 등록하고 의견을 나누는 공간입니다!
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- idea section
================================================== -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <!-- iso section -->
        <div class="iso-section wow fadeInUp" data-wow-delay="1.0s">
          <ul class="filter-wrapper clearfix">
            <li>
              <a href="#" data-filter="*" class="selected opc-main-bg">All</a>
            </li>
            <li>
              <a href="#" class="opc-main-bg" data-filter=".hi-sw"
                >HI-SW 봉사단 관련 서비스</a
              >
            </li>
            <li>
              <a href="#" class="opc-main-bg" data-filter=".club"
                >중앙 동아리 관련 서비스</a
              >
            </li>
          </ul>
          <div class="upload-idea">
            <a href="{% url 'ideathon:new' %}" class="upload-btn"
              >아이디어 등록</a
            >
          </div>
          <div class="iso-box-section wow fadeInUp" data-wow-delay="1s">
            <div class="iso-box-wrapper col4-iso-box">
              {% for post in posts %} {% if post.category == 'hi-sw' %}
              <div
                class="iso-box boxxxx hi-sw col-md-3 col-sm-3"
                data-wow-delay="1.3s"
              >
                <div class="blog-thumb">
                  <img
                    src="{% static 'images/simbathon.jpg' %}"
                    class="img-responsive"
                    alt="Blog"
                  />
                  <h2 style="word-break: break-all; color: black">
                    {{post.title}}
                  </h2>
                  <div class="post-format">
                    <span>By  {{post.writer.last_name}} {{post.writer.first_name}}</span>
                    <!-- <span><i class="fa fa-date"></i> {{post.created_at}}</span> -->
                  </div>
                  <div class="btn-detail">
                    <a
                      href="{% url 'ideathon:detail' post.id %}"
                      class="upload-btn"
                      >Details</a
                    >
                  </div>
                </div>
              </div>
              {% else %}
              <div
                class="iso-box boxxxx club col-md-3 col-sm-3"
                data-wow-delay="1.3s"
              >
                <div class="blog-thumb">
                  <img
                    src="{% static 'images/simbathon.jpg' %}"
                    class="img-responsive"
                    alt="Blog"
                  />
                  <h2 style="word-break: break-all; color: black">
                    {{post.title}}
                  </h2>
                  <div class="post-format">
                    <span>By {{post.writer.last_name}} {{post.writer.first_name}}</span>
                  </div>
                  <div class="btn-detail">
                    <a
                      href="{% url 'ideathon:detail' post.id %}"
                      class="upload-btn"
                      >Details</a
                    >
                  </div>
                </div>
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
