{% extends 'base.html' %} {% load static %} {% block content %}

<section id="single-project">
  <div class="container">
    <div class="row">
      <div
        class="
          wow
          fadeInUp
          col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10
          container
        "
        data-wow-delay="1s"
      >
        <form
          class="form-row"
          action="#"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <textarea
            class="form-control"
            placeholder="Comment"
            rows="5"
            name="content"
            required
            id="comment"
          >
            {{comment.content}} 
          </textarea>
          <div class="contact-submit input">
            <input
              name="submit"
              type="submit"
              class="form-control"
              id="submit"
              value="edit"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- <div class="container mt-5">
  <form class="form-row" action="#" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <textarea
      class="form-control"
      placeholder="Comment"
      rows="5"
      name="content"
      required
      id="comment"
    >
      {{comment.content}} 
    </textarea>
    <div class="contact-submit input">
      <input
        name="submit"
        type="submit"
        class="form-control"
        id="submit"
        value="edit"
      />
    </div>
  </form>
</div> -->

{% endblock %}
