{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <div class="new-header">
    <h1>아이디어 수정</h1>
  </div>
</section>

<form
  action="{% url 'ideathon:update' post.id %}"
  method="POST"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div class="container">
    <div class="col-12 new-content">
      <label>제목</label>
      <input
        type="text"
        class="form-control mb-30"
        name="title"
        value="{{post.title}}"
        id="title_id"
        maxlength="30"
        required
        style="color: black"
      />
    </div>
    <div class="col-12 new-content">
      <label>내용</label>
      <textarea
        class="form-control mb-30"
        name="content"
        rows="15"
        style="color: black"
      >{{post.content}}</textarea>
    </div>
    <div class="col-12 new-content">
      <input type="file" id="input-mediafile" name="mediafile" onchange="fileCheck(this)">
      {% if post.mediafile %}
        <p>기존 파일: {{post.file_name}}</p><!-- 업로드파일명 -->
      {% endif %}
    </div>
    <div class="col-12 new-content">
      <div id="content"></div>
    </div>
    <div class="col-12 new-content upload">
      <button type="submit" class="upload-btn">Update</button>
    </div>
  </div>
</form>

{% endblock %}
