{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Header section
================================================== -->
<section id="header" class="header-five">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
        <div class="header-thumb">
          <h1 class="wow fadeIn" data-wow-delay="0.6s">개발팀 소개</h1>
          <h3 class="wow fadeInUp" data-wow-delay="0.9s">
            SIMBATHON
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Blog section
================================================== -->
<section id="blog">
  <div class="container">
    <div class="row">
      <!-- <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="1s">
        <div class="blog-thumb">
          <a href="{% url 'ideathon:single_post' %}"
            ><img
              src="{% static 'images/blog-img1.jpg' %}"
              class="img-responsive"
              alt="Blog"
          /></a>
          <a href="{% url 'ideathon:single_post' %}"
            ><h1>Flying the Clouds</h1></a
          >
          <div class="post-format">
            <span>By <a href="#">Frank Wang</a></span>
            <span><i class="fa fa-date"></i> 5 June 2016, Sunday</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat
            volutpat sit amet, consectetuer adipiscing elit, sed diam nonumm.
          </p>
          <a href="{% url 'ideathon:single_post' %}" class="btn btn-default"
            >Full Article</a
          >
        </div>
      </div>

      <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="1.6s">
        <div class="blog-thumb">
          <a href="{% url 'ideathon:single_post' %}"
            ><img
              src="{% static 'images/blog-img2.jpg' %}"
              class="img-responsive"
              alt="Blog"
          /></a>
          <a href="{% url 'ideathon:single_post' %}"
            ><h1>Walk in the Moon</h1></a
          >
          <div class="post-format">
            <span>By <a href="#">Elon Musk</a></span>
            <span><i class="fa fa-date"></i> 4 June 2016, Saturday</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat
            volutpat sit amet, consectetuer adipiscing elit, sed diam nonumm.
          </p>
          <a href="{% url 'ideathon:single_post' %}" class="btn btn-default"
            >Read More</a
          >
        </div>
      </div>

      <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.9s">
        <div class="blog-thumb">
          <a href="{% url 'ideathon:single_post' %}"
            ><img
              src="{% static 'images/blog-img3.jpg' %}"
              class="img-responsive"
              alt="Blog"
          /></a>
          <a href="{% url 'ideathon:single_post' %}"><h1>Swim the Pool</h1></a>
          <div class="post-format">
            <span>By <a href="#">Jack Ma</a></span>
            <span><i class="fa fa-date"></i> 3 June 2016, Friday</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet.
          </p>
          <a href="{% url 'ideathon:single_post' %}" class="btn btn-default"
            >Details</a
          >
        </div>
      </div>

      <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="2.2s">
        <div class="blog-thumb">
          <a href="{% url 'ideathon:single_post' %}"
            ><img
              src="{% static 'images/blog-img4.jpg' %}"
              class="img-responsive"
              alt="Blog"
          /></a>
          <a href="{% url 'ideathon:single_post' %}"
            ><h1>Talking the Sun</h1></a
          >
          <div class="post-format">
            <span>By <a href="#">Sandar</a></span>
            <span><i class="fa fa-date"></i> 2 June 2016, Thursday</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet.
          </p>
          <a href="{% url 'ideathon:single_post' %}" class="btn btn-default"
            >Read More</a
          >
        </div>
      </div>

      <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="2s">
        <div class="blog-thumb">
          <a href="{% url 'ideathon:single_post' %}"
            ><img
              src="{% static 'images/blog-img5.jpg' %}"
              class="img-responsive"
              alt="Blog"
          /></a>
          <a href="{% url 'ideathon:single_post' %}"
            ><h1>View the Mountain</h1></a
          >
          <div class="post-format">
            <span>By <a href="#">Cindy</a></span>
            <span><i class="fa fa-date"></i> 1 June 2016, Wednesday</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet.
          </p>
          <a href="{% url 'ideathon:single_post' %}" class="btn btn-default"
            >Full Story</a
          >
        </div>
      </div> -->

      <div class="wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.8s">
        <div class="blog-thumb">
          <a href="{% url 'ideathon:single_post' %}"
            ><img
              src="{% static 'images/programmer3.png' %}"
              class="img-responsive"
              alt="Blog"
          /></a>
          <h1>주현이</h1>
          <div class="post-format">
            <span>회장</span>
            <span><i class="fa fa-date"></i> 멋사 8기</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy.
          </p>
          <a href="{% url 'ideathon:single_post' %}" class="btn btn-default"
            >Read More</a
          >
        </div>
      </div>

      <div class="wow fadeInUp col-md-3 col-sm-3" data-wow-delay="1.0s">
        <div class="blog-thumb">
          <a href="{% url 'ideathon:single_post' %}"
            ><img
              src="{% static 'images/programmer4.png' %}"
              class="img-responsive"
              alt="Blog"
          /></a>
          <h1>이소정</h1>
          <div class="post-format">
            <span>홍보팀장</span>
            <span><i class="fa fa-date"></i> 멋사8기</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy.
          </p>
          <a href="{% url 'ideathon:single_post' %}" class="btn btn-default"
            >Details</a
          >
        </div>
      </div>

      <div class="wow fadeInUp col-md-3 col-sm-3" data-wow-delay="1.2s">
        <div class="blog-thumb">
          <a href="{% url 'ideathon:single_post' %}"
            ><img
              src="{% static 'images/programmer2.png' %}"
              class="img-responsive"
              alt="Blog"
          /></a>
          <h1>임도연</h1>
          <div class="post-format">
            <span>교육팀장</span>
            <span><i class="fa fa-date"></i> 멋사 8기</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy.
          </p>
          <a href="{% url 'ideathon:single_post' %}" class="btn btn-default"
            >Read More</a
          >
        </div>
      </div>

      <div class="wow fadeInUp col-md-3 col-sm-3" data-wow-delay="1.4s">
        <div class="blog-thumb">
          <a href="{% url 'ideathon:single_post' %}"
            ><img
              src="{% static 'images/programmer1.png' %}"
              class="img-responsive"
              alt="Blog"
          /></a>
          <h1>정준홍</h1>
          <div class="post-format">
            <span>교육팀</span>
            <span><i class="fa fa-date"></i> 멋사 6기</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy.
          </p>
          <a href="{% url 'ideathon:single_post' %}" class="btn btn-default"
            >Details</a
          >
        </div>
      </div>

      <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="1.0s">
        <h1>Interdum et malesuada fames</h1>
        <p>
          Sed quis laoreet purus, a luctus ligula. Suspendisse nec urna a dolor
          sodales venenatis. Donec et sem quam. Fusce faucibus neque sit amet
          arcu auctor tincidunt. Etiam feugiat nibh orci, quis sagittis velit
          pretium ac. Suspendisse egestas ex a dolor dictum gravida. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Fusce sagittis urna id
          odio consequat fringilla.
        </p>
        <p>
          Integer eu rhoncus libero. Nulla dignissim laoreet eros quis interdum.
          Proin ut placerat dui, eget vehicula ipsum. Mauris id molestie eros.
          Vestibulum fringilla dui nunc, vitae euismod ligula consectetur eget.
          Sed accumsan, ipsum in scelerisque euismod, nisi quam placerat urna,
          ac porttitor augue sapien varius velit.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
