{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Header section
================================================== -->
<section id="header" class="header-five">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
        <div class="header-thumb">
          <h1 class="wow fadeIn" data-wow-delay="0.3s">개발팀 소개</h1>
          <h3 class="wow fadeInUp" data-wow-delay="0.6s">
            SIMBATHON
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Blog section
================================================== -->
<section id="blog">
  <div class="container">
    <div class="row">
      <div class="wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.8s">
        <div class="blog-thumb">
          <a href="https://github.com/hyeoneedyou" target="_blank">
            <img
              src="{% static 'images/programmer3.png' %}"
              class="img-responsive"
              alt="Blog"/>
            </a>
          <h1>주현이</h1>
          <div class="post-format">
            <span>회장</span>
            <span><i class="fa fa-date"></i> 멋사 8기</span>
          </div>
          <p>
            화학과 & 융합소프트웨어 16
          </p>
          <a href="https://github.com/hyeoneedyou" class="btn btn-default" target="_blank">Github page</a>
        </div>
      </div>

      <div class="wow fadeInUp col-md-3 col-sm-3" data-wow-delay="1.0s">
        <div class="blog-thumb">
          <a href="https://github.com/SJLEE316" target="_blank">
            <img
              src="{% static 'images/programmer4.png' %}"
              class="img-responsive"
              alt="Blog"/>
          </a>
          <h1>이소정</h1>
          <div class="post-format">
            <span>홍보팀장</span>
            <span><i class="fa fa-date"></i> 멋사8기</span>
          </div>
          <p>
            수학과 & 컴퓨터공학과 18
          </p>
          <a href="https://github.com/SJLEE316" class="btn btn-default" target="_blank">Github page</a>
        </div>
      </div>

      <div class="wow fadeInUp col-md-3 col-sm-3" data-wow-delay="1.2s">
        <div class="blog-thumb">
          <a href="https://github.com/dddooo9" target="_blank">
            <img
              src="{% static 'images/programmer2.png' %}"
              class="img-responsive"
              alt="Blog"/>
          </a>
          <h1>임도연</h1>
          <div class="post-format">
            <span>교육팀장</span>
            <span><i class="fa fa-date"></i> 멋사 8기</span>
          </div>
          <p>
            멀티미디어공학과 19
          </p>
          <a href="https://github.com/dddooo9" class="btn btn-default" target="_blank">Github page</a>
        </div>
      </div>

      <div class="wow fadeInUp col-md-3 col-sm-3" data-wow-delay="1.4s">
        <div class="blog-thumb">
          <a href="https://github.com/zoonong" target="_blank">
            <img
              src="{% static 'images/programmer1.png' %}"
              class="img-responsive"
              alt="Blog"/>
          </a>
          <h1>정준홍</h1>
          <div class="post-format">
            <span>교육팀</span>
            <span><i class="fa fa-date"></i> 멋사 6기</span>
          </div>
          <p>
            정보통신공학과 17
          </p>
          <a href="https://github.com/zoonong" class="btn btn-default" target="_blank">Github page</a>
        </div>
      </div>
    
      <div class="row mt-5">
        <h1 class="wow fadeInUp" data-wow-delay="1.6s"> Contributer (2022) </h1>
        <div class="wow fadeInUp col-md-3 col-sm-3" data-wow-delay="1.8s">
          <div class="blog-thumb">
            <h1>이슬기</h1>
            <div class="post-format">
              <span>10기 교육팀장</span>
              <span><i class="fa fa-date"></i> 멋사9기</span>
            </div>
            <p>
              컴퓨터공학과 19
            </p>
            <a href="https://github.com/Seulg2027" class="btn btn-default" target="_blank">Github page</a>
          </div>
        </div>
        <div class="wow fadeInUp col-md-3 col-sm-3" data-wow-delay="2.0s">
          <div class="blog-thumb">
            <h1>오광혁</h1>
            <div class="post-format">
              <span>10기 운영진</span>
              <span><i class="fa fa-date"></i> 멋사9기</span>
            </div>
            <p>
              산업시스템공학과 & 융합소프트웨어 16
            </p>
            <a href="https://github.com/Seulg2027" class="btn btn-default" target="_blank">Github page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
