{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Header section
================================================== -->
<section id="header" class="header-one">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
        <div class="header-thumb">
          <h1 class="wow fadeIn" data-wow-delay="0.6s">SIMBATHON</h1>
          <h3 class="wow fadeInUp" data-wow-delay="0.9s">
            동국대학교 멋쟁이 사자처럼 자체 해커톤
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio section
================================================== -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <!-- iso section -->
        <div class="iso-section wow fadeInUp" data-wow-delay="1.0s">
          <ul class="filter-wrapper clearfix">
            <li>
              <a href="#" data-filter="*" class="selected opc-main-bg">All</a>
            </li>
            <li>
              <a href="#" class="opc-main-bg" data-filter=".graphic">행사 설명</a>
            </li>
            <li>
              <a href="#" class="opc-main-bg" data-filter=".template"
                >주최 및 지원</a
              >
            </li>
            <!-- <li>
              <a href="#" class="opc-main-bg" data-filter=".photoshop"
                >Photoshop</a
              >
            </li>
            <li>
              <a href="#" class="opc-main-bg" data-filter=".branding"
                >Branding</a
              >
            </li> -->
          </ul>

          <!-- iso box section -->
          <div class="iso-box-section wow fadeInUp" data-wow-delay="1s">
            <div class="iso-box-wrapper col4-iso-box">
              <div class="iso-box graphic col-md-4 col-sm-6">
                <div class="portfolio-thumb">
                  <img
                    src="{% static 'images/simbathon.jpg' %}"
                    class="img-responsive"
                    alt="Portfolio"
                  />
                  <div class="portfolio-overlay">
                    <div class="portfolio-item">
                      <a href="{% url 'main:simbathon' %}"
                        ><i class="fa fa-link"></i
                      ></a>
                      <h2>심바톤 소개</h2>
                    </div>
                  </div>
                </div>
              </div>

              <div class="iso-box graphic col-md-4 col-sm-6">
                <div class="portfolio-thumb">
                  <img
                    src="{% static 'images/process.jpg' %}"
                    class="img-responsive"
                    alt="Portfolio"
                  />
                  <div class="portfolio-overlay">
                    <div class="portfolio-item">
                      <a href="{% url 'main:process' %}"
                        ><i class="fa fa-link"></i
                      ></a>
                      <h2>진행 및 규칙</h2>
                    </div>
                  </div>
                </div>
              </div>

              <div class="iso-box graphic col-md-4 col-sm-6">
                <div class="portfolio-thumb">
                  <img
                    src="{% static 'images/reward.jpg' %}"
                    class="img-responsive"
                    alt="Portfolio"
                  />
                  <div class="portfolio-overlay">
                    <div class="portfolio-item">
                      <a href="{% url 'main:reward' %}"
                        ><i class="fa fa-link"></i
                      ></a>
                      <h2>시상</h2>
                    </div>
                  </div>
                </div>
              </div>

              <div class="iso-box graphic col-md-4 col-sm-6">
                <div class="portfolio-thumb">
                  <img
                    src="{% static 'images/judge.jpg' %}"
                    class="img-responsive"
                    alt="Portfolio"
                  />
                  <div class="portfolio-overlay">
                    <div class="portfolio-item">
                      <a href="{% url 'main:judge' %}"
                        ><i class="fa fa-link"></i
                      ></a>
                      <h2>평가 기준</h2>
                    </div>
                  </div>
                </div>
              </div>

              <div class="iso-box template col-md-4 col-sm-6">
                <div class="portfolio-thumb">
                  <img
                    src="{% static 'images/developer.jpg' %}"
                    class="img-responsive"
                    alt="Portfolio"
                  />
                  <div class="portfolio-overlay">
                    <div class="portfolio-item">
                      <a href="{% url 'main:developer' %}"
                        ><i class="fa fa-link"></i
                      ></a>
                      <h2>개발팀 소개</h2>
                    </div>
                  </div>
                </div>
              </div>

              <div class="iso-box template col-md-4 col-sm-6">
                <div class="portfolio-thumb">
                  <img
                    src="{% static 'images/dgulion.jpg' %}"
                    class="img-responsive"
                    alt="Portfolio"
                  />
                  <div class="portfolio-overlay">
                    <div class="portfolio-item">
                      <a href="{% url 'main:dgulion' %}"
                        ><i class="fa fa-link"></i
                      ></a>
                      <h2>동국대 멋쟁이 사자처럼</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
